.errorBoundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
  background-color: aqua;
  margin-top: 150px;
}
.errorButton {
  border: none;
  background-color: rgb(46, 204, 40);
  border-radius: 20px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}
