.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  padding: 40px;
}

.listLoading,
.listNotFound {
  height: 100vh;
  font-size: 50px;
  margin-top: 250px;
  color: var(--text-color);
}

.error {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.listElement {
  width: 200px;
  height: 280px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
}
