.searchBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: column;
}
.searchInput {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.searchButton {
  height: 30px;
  width: 70px;
  border: 0;
  background-color: var(--search-button);
  border-radius: 10px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: var(--search-button-hover);
}
