.searchBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: column;
}
.searchInput {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.lightButton,
.darkButton {
  height: 30px;
  width: 70px;
  border: 0;
  background-color: rgb(134, 219, 23);
  border-radius: 10px;
  cursor: pointer;
}
.darkButton {
  background-color: rgb(190, 219, 23);
}
.lightButton:hover {
  background-color: rgb(147, 252, 9);
}

.darkButton:hover {
  background-color: rgb(209, 245, 6);
}
