.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  padding: 40px;
}

.lightListElement,
.darkListElement {
  width: 200px;
  height: 280px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.lightListLoading,
.lightListNotFound,
.darkListLoading,
.darkListNotFound {
  height: 100vh;
  font-size: 50px;
}

.darkListLoading,
.darkListNotFound {
  color: white;
}
.darkListElement {
  border: 1px solid white;
  color: white;
}
.img {
  margin-left: 50px;
  margin-bottom: 20px;
}
.name,
.descriptions {
  text-align: center;
  margin-bottom: 10px;
}

.descriptions {
  height: 70px;
}
.svgHeart {
  position: relative;
  left: 45%;
}

.paginationBlock {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.paginationElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(47, 194, 10);
  cursor: pointer;
}
