.basicBlock {
  display: flex;
}

.errorButton,
.buttonAboutUs {
  border: none;
  display: flex;
  background-color: rgb(46, 204, 40);
  border-radius: 20px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.searchBlockComponent {
  margin: auto;
}

.buttonAboutUs {
  background-color: rgb(134, 219, 23);
  width: 100px;
}
