.lightBasicBlock,
.darkBasicBlock {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.darkBasicBlock {
  background-color: rgb(46, 43, 43);
}
.lightErrorButton,
.lightButtonAboutUs,
.darkErrorButton,
.darkButtonAboutUs,
.lightButtonTheme,
.darkButtonTheme {
  border: none;
  display: flex;
  background-color: rgb(46, 204, 40);
  border-radius: 20px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.darkErrorButton,
.darkButtonAboutUs,
.darkButtonTheme {
  background-color: aqua;
}

.searchBlockComponent {
  /* margin: auto; */
}

.buttonAboutUs {
  background-color: rgb(134, 219, 23);
  width: 100px;
}
