@import 'tailwindcss';

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: aqua;
  --button-color: rgb(46, 204, 40);
  --search-button: rgb(134, 219, 23);
  --search-button-hover: rgb(147, 252, 9);
  --choice-button: black;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: rgb(218, 145, 11);
  --button-color: aqua;
  --search-button: rgb(190, 219, 23);
  --search-button-hover: rgb(209, 245, 6);
  --choice-button: green;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
}
